<h2>Test your knowledge</h2>
<h3><%= name %></h3>
<div class="status">
  points: <span class="total-points">0<span>
</div>
<div class="card large">
  <span class="start">Start</span>
</div>
<div class="answer-bar">
  <input placeholder="answer" type="text"/>
</div>
<div class="tries"></div>

