<div>Score: <%= Math.floor(totalPoints) %></div>
<div>High Score: <%= Math.floor(high_score) %></div>
<% if(totalPoints === high_score) { %>
  <div>New High Score!</div>
<% } %>

<div class="start">Play Again?</div>
