<h2>Edit your Flash Cards</h2>
<h3><%= name %><span class="btn play">Train</span></h3>
<ul></ul>
<div class="actions">
  <div class="card new">create card</div>
  <form class="card-form">
    <textarea placeholder="question" class="question"></textarea>
    <textarea placeholder="answer" class="answer"></textarea>
    <div class="btn create">Create</div>
  </form>
</div>

