html, body
  height: 100%
  background: rgb(255, 255, 245)
  font-family: josefin slab
nav
  border-bottom: 1px solid black
  padding: 20px
  font-size: 18px
main
  margin-top: 40px
  margin-left: 20%
h2
  font-size: 22px
  margin-bottom: 15px
h3
  font-size: 20px
  margin-bottom: 20px
