html, body
  height: 100%
  background: rgb(255, 255, 245)
  font-family: josefin slab
nav
  border-bottom: 1px solid black
  padding: 20px
  font-size: 18px
main
  margin-top: 40px
  margin-left: 20%
h2
  font-size: 22px
  margin-bottom: 15px
h3
  font-size: 20px
  margin-bottom: 20px
.card-container
  margin-bottom: 15px

.card, textarea
  height: 70px
  width: 150px
  padding: 20px
.card
  display: table-cell
  position: relative
  vertical-align: middle
  text-align: center 
  .card-container > &
    background: white
    border: 1px solid gray
  &.new
    border: 1px dashed gray
    height: 30px
    cursor: pointer
    transition: background 1s
    &:hover
      background: wheat
  &.large
    cursor: pointer
    height: 100px
    width: 200px
    background: white
    border: 1px solid gray
.destroy
  position: absolute
  color: rgb(218, 0, 0) 
  top: 5px
  right: 8px
  cursor: pointer
.card-form
  display: none
.btn
  padding: 6px 10px
  background: rgb(255, 152, 152)
  font-size: 16px
  cursor: pointer
.play
  margin-left: 20px
.create
  margin-top: 10px
  width: 45px
textarea
  resize: none
  margin-right: -5px

.actions
  padding-bottom: 70px

//game view
.status
  margin-bottom: 15px

.answer-bar input
  width: 230px
  border: 1px solid gray
  border-top: 0
  font-size: 17px
  padding: 5px
